footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #080808;
    height: auto;
    width: 100%;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: Helvetica, sans-serif;

}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1rem;
    color: #cacdd2;
    font-family: Helvetica, sans-serif;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem -41px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #fff;
    padding: 5px;
    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}

.socials a:hover i{
    color:#575757;
}

.footer-bottom{
    background: #000;
    background-color: #080808;
    padding: 5px;
    text-align: center;
}
.footer-bottom p{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#575757;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.footer-menu ul li a:hover{
    color:#575757;
}

@media (max-width:500px) {
.footer-menu ul{
  display: inline;

}
.footer-menu ul li{
  margin-bottom: 20px;
}

footer{
    position: static;
    background-color: #080808;
    height: auto;
    width: 100%;
    color: #fff;
}
}
